<!DOCTYPE html>
<html>
<head>
  <title>Example4</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <form id="main" v-cloak>
    <div class="bar">
      <!-- Create a binding between the searchString model and the text field -->
      <input type="text" v-model="searchString" placeholder="Search" />
    </div>

    <ul>
      <!-- Render a li element for every entry in the computed filteredArticles array. -->
      <li v-for="article in filteredArticles">
        <a :href="article.url"><img :src="article.image" /></a>
        <p>{{ article.title }}</p>
      </li>
    </ul>
  </form>
</body>

<script src="../vue.min.js"></script>
<script src="./script.js"></script>
</html>
