<!DOCTYPE html>
<html>
<head>
  <title>Example4</title>
  <link rel="stylesheet" href="../styles/base.css">
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <form id="main" v-cloak>
    <div class="bar">
      <input type="text" v-model="searchString" placeholder="Search" />
    </div>

    <ul>
      <li v-for="article in filteredArticles">
        <a :href="article.url">
          <p>{{ article.title }}</p>
        </a>
      </li>
    </ul>
  </form>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="text/javascript">
const URL = 'http://tutorialzine.com/2016';

var demo = new Vue({
	el: '#main',
	data: {
		searchString: '',
		articles: [
			{
				title: 'What You Need To Know About CSS Variables',
				url: `${URL}/03/what-you-need-to-know-about-css-variables/`
			},
			{
				title: 'Freebie: 4 Great Looking Pricing Tables',
				url: `${URL}/02/freebie-4-great-looking-pricing-tables/`
			},
			{
				title: '20 Interesting JavaScript and CSS Libraries for February 2016',
				url: `${URL}/02/20-interesting-javascript-and-css-libraries-for-february-2016/`
			},
			{
				title: 'Quick Tip: The Easiest Way To Make Responsive Headers',
				url: `${URL}/02/quick-tip-easiest-way-to-make-responsive-headers/`
			},
			{
				title: 'Learn SQL In 20 Minutes',
				url: `${URL}/01/learn-sql-in-20-minutes/`
			}
		]
	},
	computed: {
		filteredArticles() {
			const { articles, searchString } = this;
			if (!searchString) return articles;

			const str = searchString.trim().toLowerCase();
			return articles.filter(item => {
				if (item.title.toLowerCase().indexOf(str) !== -1) return item;
			});
		}
	}
});
</script>
</html>
